.politico-bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.formulario {
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1rem;

    .campo01 { grid-area: 1 / 1 / 2 / 2; }
    .campo02 { grid-area: 1 / 2 / 2 / 3; }
    .campo03 { grid-area: 2 / 1 / 3 / 2; }
    .boton-enviar { grid-area: 3 / 1 / 4 / 3; }
}

