<main class="container">
    
    <div class="root">
        <h1> ¡¡ Hola {{ nombre }} !! </h1>
        <button class="boton" (click)="cambiarNombre()"> Cambiar </button>
    </div>

    <!-- El atributo debe tener como valor el nombre de la propiedad -->
    <!-- que es objeto del @Input : -->
    <!-- [nombre]="nombre" -->
    <app-change-title-button 
        [nombre]="nombre" 
        (nombreCambiado)="manejarCambio($event)">
    </app-change-title-button>

    <app-direccion 
        [nombre]="nombre">
    </app-direccion>

    <app-plantilla></app-plantilla>

    <app-reactivo></app-reactivo>
</main>
